<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="protoko.com.protoko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Multi_Dex"
        android:allowClearUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplassScreenCustom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="Daftar"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SignupSalesActivity"
            android:label="Daftar"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Masuk"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UploadActivity"
            android:label="Pasang Promo"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AllProductResultActivity"
            android:label="Semua Produk"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NearestTokoActivity"
            android:label="Toko Terdekat"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".KatalogActivity"
            android:label="Katalog Promoku"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AkunActivity"
            android:label="Profil Akun"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileTokoActivity"
            android:label="Profil Toko"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileSalesActivity"
            android:label="Profil Sales"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".KategoriActivity"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SearchResultNewActivity"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ProdukDetilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AllProductResultActivity" />
        </activity>
        <activity android:name=".ImgFullscreenActivity" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".UbahPromoActivity"
            android:label="Ubah Promo"
            android:noHistory="true"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KatalogActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProdukDetilActivity" />
        </activity>
        <activity
            android:name=".TentangActivity"
            android:label="Tentang"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Pusat Bantuan"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AkunMenuActivity"
            android:label="Akun Saya"
            android:theme="@style/MasukDaftar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DaftarTokoActivity"
            android:label="Daftar Toko"
            android:theme="@style/MasukDaftar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>